<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="listing[viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Sphere</title>
</head>
<body>
    <h3>Edit Your listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">

        <input name="listing[title]" value="<%= listing.title%>" type="text">
        <br><br>
        <textarea name="listing[description]" rows="6" cols="40"><%= listing.description%></textarea>
        <br><br>
        <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" id="image-url">

        <br><br>
        <input name="listing[price]"  value="<%= listing.price%>"  type="number">
        <br><br>
        <input name="listing[country]"  value="<%= listing.country%>"  type="text">
        <br><br>
        <br><br>
        <input name="listing[location]"  value="<%= listing.location%>"  type="text">
        <button>Edit</button>
    </form>
</body>
</html>